.school-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.map-container {
  height: 300px;
  border-radius: 0.5rem;
}

@media (min-width: 1024px) {
  .map-container {
    height: 400px;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: linear-gradient(to right, #a3cbf9, #1e40af);
}

.main-content {
  margin-top: 100px;
  /* Adjust this value based on your header height */
}

.header-logo {
  height: 50px;
  width: auto;
}

.calendar-container {background-color: #edf574;
}